*{
  margin: 0;
  padding: 0;
}
footer{
  position:absolute;
  bottom:0;
}
header{
  width: 100%;
  min-height: 100px;
}
ul{
  list-style-type:none;
  float: right;
}
li{
  display:inline-block;
}
#container{
  padding: 0;
  position: relative;
  width: 1080px;
  min-height: 800px;
  margin: 0 auto;
  background-color: #f5dedc;
}
.langButtons{
  width: 100px;
  height: 30px;
  background-color: cyan;
  border: none;
  border-radius: 5px;
}
